<div class="alert alert-secondary mt-4" role="alert">
    <strong>@Title</strong>

    <span class="text-nowrap">
        Click &nbsp;&nbsp; <span class="oi oi-external-link"></span> &nbsp;&nbsp;to extract the portion of the component you want to pop-out as a widget
    </span>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
